.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 100;
    margin-right: auto;
}

.header-logo {
    display: flex;
    align-items: center;
    color: aqua;
    margin: 0 25px;
}

.header-log-image {
    margin-right: 10px;
}

.header-logoTitle {
    text-decoration: none;
    border: 0;
    color: white;
}

.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0 10px;
}

.header-searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color:aqua;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}
.nav-item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white
}

.nav-item-one {
    font-size: 10px;
}

.nav-item-two {
    font-size: 13px;
    font-weight: 800;
}

.nav-itemBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 50px;
    margin-left: 10px;
}

.nav-basketCount {
    margin-left: 10px;
    margin-right: 10px;
}