.signup {
    margin-top: 100px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    display: flex;
    margin: 30px 0;
}

.login-logoImage {
    color: aqua;
}

.login-logoTitle {
    color: black;
}

.signup-container {
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.signup-container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.signup-container > form > h5 {
    margin-bottom: 10px;
}

.signup-container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.signup-container > p {
    margin-top: 15px;
    font-size: 12px;
}

.signup-signupButton {
    background: aqua;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(44, 82, 87) ;
}